@import url(lista-tarefas.component2.css);
@import url(lista-tarefas.component3.css);
@import url(lista-tarefas.component4.css);

.info-card {
  display: grid;
  grid-template-columns: min-content min-content repeat(3, 1fr);
  grid-template-areas: "categoria prioridade status" "descricao";
  margin-left: 8px;
  box-sizing: border-box;
}
.icone-unchecked {
  background: transparent;
}
.icone-checked {
  background-image: url("/assets/icones/check-Feito.png");
  border: none !important;
}
.categoria-Casa {
  background: #b2b6ff;
}
.categoria-Estudos {
  background: #d499ff;
}
.categoria-Trabalho {
  background: #8ad4ff;
}
.ng-template {
  text-align: center;
  margin-top: 48px;
  margin-top: 96px;
}
input::placeholder {
  color: #000;
}
@media (max-width: 890px) {
  .ilustracao {
    display: flex;
    flex-direction: column;
  }
  .ilustracao h2 {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 650px) {
  .info-card {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-left: 0;
  }
  .prioridade-tarefa,
  .categoria-tarefa {
    margin-left: 0;
  }
  .lista-tarefas {
    display: flex;
    align-items: center;
  }
  .criar-tarefa button {
    margin-top: 32px;
  }
  .card-descricao {
    margin-top: 30px;
  }
  .icone-checked,
  .icone-unchecked {
    margin-right: 25%;
  }
}
@media (max-width: 504px) {
  .botoes-form {
    flex-direction: column;
  }
}
